In [3]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()

In [6]:
uniq_words_one = set(words_one)

In [7]:
uniq_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [8]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uniq_words_two=set(words_two)

In [9]:
uniq_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [10]:
all_uniq_words = set()
all_uniq_words.update(uniq_words_one)

In [11]:
all_uniq_words.update(uniq_words_two)

In [12]:
all_uniq_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [13]:
full_vocab = dict()
i=0

for words in all_uniq_words:
    full_vocab[words] = i
    i+=1

In [14]:
full_vocab

{'our': 0,
 'canine': 1,
 'animals': 2,
 'catching': 3,
 'are': 4,
 'is': 5,
 'story': 6,
 'dogs': 7,
 'sport': 8,
 'surfing': 9,
 'fun': 10,
 'this': 11,
 'water': 12,
 'pets': 13,
 'about': 14,
 'furry': 15,
 'a': 16,
 'waves': 17,
 'popular': 18}

In [15]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [17]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [19]:
for word in one_text:
    word_index = full_vocab[word]
    one_freq[word_index] += 1

In [20]:
one_freq

[1, 1, 1, 0, 1, 1, 1, 2, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0]

In [22]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [23]:
for word in two_text:
    word_index = full_vocab[word]
    two_freq[word_index] += 1

In [24]:
two_freq

[0, 0, 0, 1, 0, 3, 1, 0, 1, 2, 1, 1, 1, 0, 1, 0, 1, 1, 1]

In [25]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [26]:
all_words

['our',
 'canine',
 'animals',
 'catching',
 'are',
 'is',
 'story',
 'dogs',
 'sport',
 'surfing',
 'fun',
 'this',
 'water',
 'pets',
 'about',
 'furry',
 'a',
 'waves',
 'popular']

In [28]:
import pandas as pd
Bow = pd.DataFrame(data = [one_freq,two_freq],columns = all_words)

In [29]:
Bow

,our,canine,animals,catching,are,is,story,dogs,sport,surfing,fun,this,water,pets,about,furry,a,waves,popular
0,1,1,1,0,1,1,1,2,0,0,0,1,0,1,1,1,1,0,0
1,0,0,0,1,0,3,1,0,1,2,1,1,1,0,1,0,1,1,1

Is a frequency count of all the words in the document(Bow => bag of words)